* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "Outfit";
}
body {
    background-color: hsl(212, 45%, 89%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    width: 330px;
    display: flex;
    flex-direction: column;
}
.main-container__qr {
    margin: 15px auto;
}
.main-container__qr img {
    width: 300px;
    border-radius: 10px;
}
.main-information {
    margin: 0px 26px;    
}
.main-information__title h1 {
    color: hsl(218, 44%, 22%);
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    padding-top: 8px;
}
.main-information__description {
    color: hsl(220, 15%, 55%);
    font-size: 1.5rem;
    text-align: center;
    margin: 0 8px 16px;
}
.attribution {
    color: hsl(220, 15%, 55%);
    font-size: 1.1rem;
    margin: 6px 20px;
}
.attribution a {
    color: hsl(218, 44%, 22%);
    text-decoration: none;
    font-weight: 700;
}
@media (max-width: 500px) {
    .main-container {
        position: absolute;
        top: 5%;
    }
}